body {
  font-family: Arial, sans-serif;
  background: blanchedalmond;
  background-size: cover;      
  background-position: center;  
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

.quiz-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 400px;
  max-width: 80%;
  text-align: center;
}

.options {
  text-align: left;
  margin: 15px 0;
}

.options label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  border: none;
  background: #CC0051;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #FF7F50;
}

html, body {
  height: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}


.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


footer {
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 3px;
}


footer a {
  color: #4a98;
  text-decoration: none;
  margin: 0 5px;
}


.logo-container {
  text-align: center;
  margin: 20px 0;
}